/* Style for the Header */
.header {
      background-color: white;
      text-align: center;
      padding: 10px 16px;
}

/* Page Content */
.content {
    padding: 16px;
}

/* The Sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/*Add some top padding to prevent suddent quick movement*/
.sticky + .content {
  padding-top: 102px;
}

body {
      background-color: lightgray;
}
ul {
    list-style-position: inside;
}
/*
p{
  color: blue;
  font-size: 20px;
  text-indent: 10px;
}
p.foo{
  color: red;
}
ul{
  color: pink;
  height: 50%;
  border-style: solid;
}
